html {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  padding-top: 25vh;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-size: 9vh;
  margin: 0;
  padding: 0.5vh;
  line-height: 1;
}
p {
  font-size: 3.5vh;
  line-height: 1;
}
a {
  display: inline-block;
  background: #fff;
  color: #214154;
  text-decoration: none;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  padding: 1rem 1.5rem;
}
